/* -------------RESETS------------- */
/* Resets are used for overwriting default html tag properties/  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-primary: #ffa700;
  --clr-light: #ffffff;
  --clr-dark: #2b2b2b;
  --font: "Poppins", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.header {
  padding: 1.5rem 0;
  background-color: var(--clr-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__logo img {
  width: 5rem;
}
.header__logo h5 {
  color: var(--clr-light);
  font-size: 18px;
  font-weight: 700;
}
.header__logo h5 > span {
  color: var(--clr-primary);
}
.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.header__nav ul li a {
  color: var(--clr-light);
}
.header__nav ul li a:hover {
  color: var(--clr-primary);
  transition: 0.5s ease-in-out;
}
.toggle__menu {
  display: none;
}
.toggle__menu span {
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}

@media screen and (max-width: 520px) {
  .header__logo h5 {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
  }
  .header__nav ul {
    background-color: var(--clr-dark);
    height: 100vh;
    width: 100%;
    position: fixed;
    right: -100%;
    z-index: 999;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    transition: all 0.5s ease;
  }
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header__nav.open ul {
    right: 0;
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -7.5px) rotate(-225deg);
    transition: 0.5s ease;
  }
}

.banner {
  padding: 4rem 0;
  background-color: var(--clr-light);
}
.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.banner__text h1 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 71px;
  max-width: 35rem;
  line-height: 7rem;
}
.banner__text p {
  margin: 3rem 0;
}
@media screen and (max-width: 520px) {
  .banner__wrapper {
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .banner__img {
    width: 20rem;
  }
  .banner__text {
    font-size: 20px;
    max-width: unset;
    line-height: 3rem;
  }
}

.skills {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.skills__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.skills__card {
  text-align: center;
}
.skills__card h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-top: 2rem;
}
.skills__card p {
  color: var(--clr-light);
  margin: 3rem 0;
  text-align: justify;
}
@media screen and (max-width: 520px) {
  .skills__wrapper {
    flex-wrap: wrap;
  }
}

.about {
  padding: 4rem 0;
  background-color: var(--clr-light);
}
.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.about__img {
  position: relative;
  z-index: 9;
}
.about__img::before {
  position: absolute;
  display: inline-block;
  content: " ";
  background-color: var(--clr-primary);
  width: 477px;
  height: 477px;
  border-radius: 100%;
  left: 0;
  opacity: 0.3;
}
.about__text h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 2rem;
}
.about__text p:last-child {
  margin-top: 2rem;
}
@media screen and (max-width: 520px) {
  .about__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .about__img,
  .about__img::before {
    width: 20rem;
    height: 20rem;
  }
  .about__text h2 {
    font-size: 36px;
    text-align: center;
  }
}
.trends {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.trends__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}
@media screen and (max-width: 520px) {
  .trends__wrapper {
    flex-wrap: wrap;
  }
  .cards {
  }
}
.cta {
  padding: 4rem 0;
  background-color: var(--clr-primary);
}
.cta__info {
  text-align: center;
}
.cta__info h3 {
  font-size: 36px;
  font-weight: 600;
}
.cta__info p {
  margin-bottom: 2rem;
}
@media screen and (max-width: 520px) {
  cta__info h3 {
    font-size: 36px;
    font-weight: 600;
  }
  .cta__info p {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 520px) {
  .cta__info h3 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
}
.footer {
  padding: 2rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  gap: 1.5rem;
}
.footer__social li a {
  color: var(--clr-light);
  font-size: 18px;
}
.footer__social li a:hover {
  color: var(--clr-primary);
}
@media screen and (max-width: 520px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

.aboutme {
  padding: 15rem 0;
  background-color: var(--clr-light);
}
.aboutme__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.aboutme__text span {
  font-weight: 500;
}
.aboutme__text h1 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 71px;
  max-width: 35rem;
  line-height: 7rem;
}
.aboutme__text p {
  margin-top: 2rem;
  text-align: justify;
}
.aboutme__social {
  margin-top: 5rem;
  display: flex;
  gap: 1.5rem;
}
.aboutme__social li a {
  color: var(--clr-primary);
  font-size: 30px;
}
.aboutme__social li a:hover {
  color: var(--clr-dark);
  font-size: 30px;
}
/* ABOUT mobile bersiyon */
@media screen and (max-width: 520px) {
  .about {
    padding-top: 10rem;
  }

  .about__wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
    text-align: center;
  }

  .about__img::before {
    width: 20rem;
    height: 20rem;
  }

  .about__img img {
    width: 20rem;
  }

  .about__text h2 {
    font-size: 30px;
  }

  .about__text p {
    font-size: 1.4rem;
    text-align: justify;
  }

  /* ABOUT ME SECTION */
  .aboutme {
    padding-top: 10rem;
  }

  .aboutme__wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .aboutme__text h1 {
    font-size: 40px;
    line-height: 4.5rem;
  }

  .aboutme__text p {
    font-size: 1.4rem;
  }

  .aboutme__social {
    justify-content: center;
  }
}
.recentproj {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.recentproj__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.recentproj__text h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
}
.recentproj .title p {
  color: var(--clr-light);
  margin-top: 2rem;
  margin-bottom: 8rem;
}

/* c service */

.services {
  padding: 0 0;
  background-color: var(--clr-light);
}

.services__wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.services__wrapper:first-child {
  min-height: 85vh;
}

.services__wrapper .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 2rem 0;
  align-items: center;
}

/* flip section */
.services__wrapper:nth-child(even) {
  background-color: var(--clr-dark);
}

.services__wrapper:nth-child(even) .container {
  direction: rtl;
}

.services__wrapper:nth-child(even) .container > * {
  direction: ltr;
}

.services__wrapper:nth-child(even) .services__text p,
.services__wrapper:nth-child(even) .services__text h6 {
  color: var(--clr-light);
}

.services__text h2 {
  font-weight: 700;
  font-size: 65px;
  color: var(--clr-primary);
}

.services__text p {
  text-align: justify;
  margin-top: 2rem;
}

.services__text p:nth-of-type(3) {
  margin-top: 6rem;
}

.services__text h5 {
  font-size: 36px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-top: 1rem;
}

.services__text h6 {
  font-size: 14px;
  margin-top: 1rem;
}

.services__img img {
  width: 100%;
  height: auto;
  padding-left: 40px;
  display: block;
}

.services__wrapper:nth-child(even) .services__img img {
  padding-left: 0;
  padding-right: 40px;
}

.services .chevron {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.services__wrapper:last-child .chevron {
  display: none;
}

.services__wrapper:last-child {
  min-height: 90vh;
}

@media (max-width: 520px) {
  .services {
    padding: 2rem 0;
  }

  .services__wrapper {
    min-height: auto;
    padding-top: 13rem;
  }

  .services__wrapper .container {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0 2rem;
    text-align: center;
  }

  .services__img img {
    padding-left: 0%;
  }

  .services__wrapper:nth-child(even) .services__img img {
    padding-right: 0px;
  }

  .services__text {
    order: 2;
    margin-top: auto;
    padding: 2rem 0;
  }

  .services .chevron {
    order: 3;
  }

  .services__text p:nth-of-type(3) {
    text-align: center;
  }

  .services__img {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .services__img img {
    width: 50%;
  }

  .chevron {
    margin-top: 2rem;
  }
}
/* update */
.update {
  padding: 6rem 0;
  background-color: #eaeaea;
}

.update .title h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
}

.update .title p {
  margin-bottom: 3rem;
}
.update__wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 5rem;
}

/* left */
.update__post {
  margin-bottom: 5rem;
}

.update__post img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.update__meta {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.update__post h3 {
  font-size: 22px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

.update__post p {
  text-align: justify;
  margin-bottom: 1rem;
}

/* right */
.update__box {
  margin-bottom: 4rem;
}

.update__box h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 1.5rem;
}

.update__box ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* recent */
.update__recent {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.update__recent img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.update__recent p {
  font-size: 1.3rem;
  font-weight: 500;
}

.update__recent small {
  font-size: 1.1rem;
  color: gray;
}

/* tags */
.update__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-top: 1rem;
}
.update__tags span {
  display: flex;
  padding: 1.8rem 3.8rem;
  border: 1px solid var(--clr-dark);
  border-radius: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.update__tags span:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.update__right {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.update__tags .tag--active {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.update__tags .tag--active:hover {
  background-color: transparent;
  color: var(--clr-dark);
}
@media screen and (max-width: 520px) {
  .update__wrapper {
    grid-template-columns: 1fr;
  }
}
/* Contacts */
.contact {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  min-height: 86vh;
  padding-top: 10rem;
  display: flex;
}
.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
}
.contact__left h2 {
  font-size: 5rem;
  color: var(--clr-primary);
  margin-bottom: 5rem;
  font-weight: 700;
}
.contact__left p {
  font-size: 1.6rem;
  margin-bottom: 7rem;
}
.contact__info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 4rem;
}
.contact__info li {
  display: flex;
  text-align: left;
  gap: 1.5rem;
  font-size: 1.5rem;
}
.contact__info i {
  color: var(--clr-primary);
  font-size: 1.8rem;
}
.contact__social {
  display: flex;
  gap: 2rem;
}
.contact__social a {
  color: var(--clr-light);
  font-size: 2.5rem;
  transition: 0.3s;
}
.contact__social a:hover {
  color: var(--clr-primary);
}
.contact__right form {
  padding-top: 14rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__right input,
.contact__right textarea {
  width: 100%;
  padding: 2rem;
  border: none;
  background-color: var(--clr-light);
  font-size: 1.4rem;
  font-family: inherit;
}
.contact__right textarea {
  height: 15rem;
  resize: none;
}
.contact__right button {
  align-self: flex-end;
  padding: 2rem 5rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
}
@media screen and (max-width: 520px) {
  .contact__wrapper {
    grid-template-columns: 1fr;
  }

  .contact__left h2 {
    font-size: 3.5rem;
  }

  .contact__right button {
    width: 100%;
    text-align: center;
    margin-bottom: 10rem;
  }
}
/* Contacts Footer */
.footer {
  border-top: 1px solid var(--clr-light);
}
/* ASSETS */
.title h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary);
}
.trends .title p {
  color: var(--clr-light);
}
.cards {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-light);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.cards img {
  display: block;
  width: 100%;
  height: 50rem;
  object-fit: cover;
  transition: transform 0.5s;
  transition: all 0.5s ease-in-out;
}
.cards__details {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 0;
  left: 3.5rem;
  background-color: var(--clr-light);
  width: 28rem;
  padding: 0 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.cards__details h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 2rem;
}
.cards__details p {
  margin-bottom: 3rem;
}
.cards:hover img {
  height: 50rem;
  transform: scale(1.2);
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.cards:hover .cards__details {
  height: 45%;
  transition: all 0.5s ease-in-out;
}
.btn {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  padding: 1rem 2rem;
  color: transparent;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn.bg--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
.btn.bg--primary:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.btn.bg--dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.btn.bg--dark:hover {
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn {
  color: var(--clr-primary);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
#scrolldown {
  display: grid;
  place-content: center;
  color: var(--clr-primary);
  font-size: 50px;
}
#scrolldown:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
  place-content: center;
}

@media screen and (max-width: 520px) {
  .title h2 {
    font-size: 36px;
  }
  .cards__details {
    width: 38rem;
    height: 45%;
  }
}
